.iconUser {
  width: 40px;
  height: 40px;
}
.fs {
  font-size: 12px;
}
.manage {
  border-left: 3px solid #e30a23;
}
.colorManage {
  background-color: #f5f5f5;
}
.changeAvatar {
  position: relative !important;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  color: red;
  border-radius: 100%;
  border: 1px solid black;
}
.changeButton {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.54);
  color: #fff;
  text-align: center;
  font-size: 13px;
}
