/* .slick-prev,
.slick-next {
  background: #404040 !important;
  border-radius: 10px;
} */
.card-body{
  height: 110px;

}
.card-text{
  height: 46px !important;
  text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
